.recent{
  margin-top: 32px;
  &-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  &-actions{
    display: flex;
    gap: 16px;
  }
  &-sort, &-search{
    width: 200px;
  }
}